<div class="container p-16 bg-black opacity-85">

  <img [src]="logo_netflex"/>
  <button class="text-white font-medium bg-red rounded px-4 py-1.5 hover:bg-red-hover">Sign In</button>
  <h1 class='text-5xl font-bold text-center text-white'>Unlimited movies, TV shows, and more.</h1>
  <h2 class='text-3xl font-medium text-center text-white'>Watch anywhere. Cancel anytime.</h2>
  <h3 class='text-2xl text-center text-white'>Ready to watch? Enter your email to create or restart your membership.</h3>
  <div class="text-center">
    <input type='text' placeholder="Email address" class='bg-white w-1/3 max-h-24' />
    <button class="text-white font-medium bg-red rounded px-4 py-1.5 hover:bg-red-hover max-h-24">Sign In</button>
  </div>
</div>
